*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #fff;
}
li{
    list-style-type: none;
}
.container{
    display: flex;
    gap:10px;
    padding: 20px;
    height:100vh;
}
.board{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    background-color: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 290px;
    border-radius: 6px;
}
.add-task{
    margin-top: auto;
}

.board-head{
    margin-bottom: 20px;
}
.head{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.head h4{
    font-size: 18px;
}
#total-task{
    width:15px;
    height: 15px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 900;
    color:#6b6969;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#circle-icon{
    width:15px;
    height:15px;
    border-radius: 50%;
    border:2px solid rgb(26, 90, 228);
    margin-right: 5px;
}
#description{
    font-size: 14px;
    color:#6b6969;
    margin-top: 5px;
}
.tasks-list{
    /* display: flex;
    flex-direction: column;
    gap:10px; */
    /* width:100%; */
    height:100%;
}
.task-list{
    display: flex;
    flex-direction: column;
    gap:10px;
    /* border:1px solid red; */
    /* width:100%; */
    height:100%;
}
.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height:40px;
    padding-inline: 10px;
    font-size: 13px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    cursor: pointer;
    border-radius: 6px;
}
.task-modify{
    display: flex;
    column-gap: 10px;
}
.task-name i{
    font-size: 14px;
    margin-right: 2px;
}
.task-name span{
    /* text-decoration: line-through; */
}
#add-task-btn{
    border: none;
    color:#6b6969;
    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items:baseline;
    gap: 3px;
    margin: 0;
}
#plus{
    font-size: 22px;
}