*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #fff;
    display: flex;
    height:100vh;
}
li{
    list-style-type: none;
}
.container{
    display: flex;
    gap:10px;
    padding: 20px;
    padding-right: 10px;
    height:100vh;
}
.board{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    background-color: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 290px;
    border-radius: 6px;
}
.add-task{
    margin-top: auto;
}

.board-head{
    margin-bottom: 20px;
    position: relative;
}
.head{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.head h4{
    font-size: 18px;
}
.modify-board-icon{
    font-size: 20px;
    border: none;
    background-color: #f9f9f9;
    position: absolute;
    right:-10px;
    top:-10px;
    cursor: pointer;
    transition: 0.5s background-color ease-in-out;
}
.modify-board-icon:hover{
    background-color: #f0efef;

}
#total-task{
    width:15px;
    height: 15px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 900;
    color:#6b6969;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#circle-icon{
    width:15px;
    height:15px;
    border-radius: 50%;
    border:2px solid #1a5ae4;
}
#description{
    font-size: 14px;
    color:#6b6969;
    margin-top: 5px;
}
.tasks-list{
    display: flex;
    flex-direction: column;
    gap:10px;
    height:100%;
}
/* .task-list{
    display: flex;
    flex-direction: column;
    gap:10px;
    border:1px solid red;
    width:100%;
    height:100%;
} */
.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height:40px;
    padding-inline: 10px;
    font-size: 13px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    cursor: pointer;
    border-radius: 6px;
}
.task-modify{
    display: flex;
    column-gap: 7px;
    /* border:1px solid red; */
}
.task-name{
    /* border:1px solid red; */
}
.task-name i{
    font-size: 14px;
    margin-right: 2px;
}
.task-name span{
    /* text-decoration: line-through; */
}
#add-task-btn{
    border: none;
    color:#6b6969;
    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items:baseline;
    gap: 3px;
    margin: 0;
}
#plus{
    font-size: 22px;
}

/* .flying{
    position: absolute;
    top:0;
    z-index: 1000;
    background-color: red;
} */

.completed{
    color:#04f11f !important;
}
.add-strike{
    text-decoration: line-through;
}


.add-board{
    padding-block: 20px;
    padding-right: 20px;
}
#add-board-btn{
    width:35px;
    height:35px;
    cursor: pointer;
    background-color: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: none;
    border-radius: 6px;
    font-size: 25px;
}

.board-info{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:250px;
    height:330px;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    filter: opacity(100%) !important;
    opacity: 1 !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.board-info-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
#cross{
    cursor: pointer;
    font-size: 16px;
    color: #6b6969;
}
.board-info-description{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 20px;
}
.board-info-description input{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;   
    font-style: italic;
}
/* .board-info-description input:focus{

} */
.board-info hr{
    margin-inline: -10px;
    margin-top: 10px;
}
#info-hr{
    margin-top: 20px;
}
.board-edit-btn{
    margin-top: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: end;
    column-gap: 10px;
}
.board-create-btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.btn{
    padding:4px 10px;
    cursor: pointer;
    border-radius: 4px;
    border:1px solid rgb(105, 105, 105);
}
#create-btn{
    background-color: #03a934;
    padding:6px 20px;
}
#sumbit-btn{
    background-color: #03a934;
}
#cancel-btn{
    background-color: #fff;
}
#sumbit-btn:hover, #create-btn:hover{
    background-color: #049a31;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#cancel-btn:hover{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #fffcfc;
}
.circle-colors{
    display: flex;
    column-gap: 6px;
}
.circle-colors span{
    width:20px;
    height:20px;
    border-radius: 50%;
    border:1px solid grey;
    cursor: pointer;
}
.selected-color{
    outline:2px solid grey !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}
.circle-color:nth-child(1){
    background-color: #d978d9;
}
.circle-color:nth-child(2){
    background-color: #9103f6;
}
.circle-color:nth-child(3){
    background-color: #1a5ae4;
}
.circle-color:nth-child(4){
    background-color: #038b03;
}
.circle-color:nth-child(5){
    background-color: #fd0000;
}
.circle-colors span:hover{
    box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;
}
.hidden{
    display: none;
}

.delete-icon, .edit-icon{
    transition: 0.3s box-shadow ease-in-out;
}
.delete-icon:hover, .edit-icon:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modify-board-container{
    width:100px;
    height:62px;
    display: flex;
    flex-direction: column;
    background-color: #f8f5f5;
    position: absolute;
    top:10px;
    right:-10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.board-edit, .board-delete{
    padding: 8px 16px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    background-color: #fff;
    color:#121212;
    border: none;
    cursor: pointer;
}
.board-edit:hover, .board-delete:hover{
    background-color: #817d7d;
}
.hidden-modify-board{
    display: none !important;
}